In [9]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/Env_ETL/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## **Entregable Proyecto Python**

#### _______________________________________________________________________________________________________________________

### *Extracción*

In [10]:
import pandas as pd

In [13]:
covid = pd.read_csv('/Users/miguelflores/Desktop/data/covid_19_clean_complete.csv')
covid

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [12]:
poblacion = pd.read_csv('/Users/miguelflores/Desktop/data/worldometer_data.csv')
poblacion

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

### ________________________________________________________________________________________________________________________

### **Transformación**

#### *Métricas de calidad*

#### **Precisión**

#### Linaje

#### **Semántica**

##### Variable de **Province

#### Estructura

#### **Completitud**

In [20]:
# Lista para almacenar los resultados
resultado_covid = []

# Bucle para iterar sobre la base de datos
for columna in covid.columns:
    valores_nulos = covid[columna].isnull().sum()  # Número de valores nulos en la columna
    longitud = len(covid[columna])  # Longitud total de la columna
    porcentaje = (valores_nulos / longitud) * 100  # Porcentaje de valores nulos

    # Guardar el nombre de la columna y su porcentaje de completitud
    resultado_covid.append({'Columna': columna, 'Porcentaje de COMPLETITUD': 100 - round(porcentaje,2)})

# Crear una base de datos para mostrar una tabla
tabla_completitud = pd.DataFrame(resultado_covid)

# Imprimir la tabla 
print(tabla_completitud)

          Columna  Porcentaje de COMPLETITUD
0  Province/State                      29.89
1  Country/Region                     100.00
2             Lat                     100.00
3            Long                     100.00
4            Date                     100.00
5       Confirmed                     100.00
6          Deaths                     100.00
7       Recovered                     100.00
8          Active                     100.00
9      WHO Region                     100.00

In [21]:
# Lista para almacenar los resultados
resultado_poblacion = []

# Bucle para iterar sobre la base de datos
for columna in poblacion.columns:
    valores_nulos = poblacion[columna].isnull().sum()  # Número de valores nulos en la columna
    longitud = len(poblacion[columna])  # Longitud total de la columna
    porcentaje = (valores_nulos / longitud) * 100  # Porcentaje de valores nulos

    # Guardar el nombre de la columna y su porcentaje de completitud
    resultado_poblacion.append({'Columna': columna, 'Porcentaje de COMPLETITUD': 100 - round(porcentaje,2)})

# Crear una base de datos para mostrar una tabla
tabla_completitud_poblacion = pd.DataFrame(resultado_poblacion)

# Imprimir la tabla 
print(tabla_completitud_poblacion)

             Columna  Porcentaje de COMPLETITUD
0     Country/Region                     100.00
1          Continent                      99.52
2         Population                      99.52
3         TotalCases                     100.00
4           NewCases                       1.91
5        TotalDeaths                      89.95
6          NewDeaths                       1.44
7     TotalRecovered                      98.09
8       NewRecovered                       1.44
9        ActiveCases                      98.09
10  Serious,Critical                      58.37
11  Tot Cases/1M pop                      99.52
12     Deaths/1M pop                      89.47
13        TotalTests                      91.39
14      Tests/1M pop                      91.39
15        WHO Region                      88.04

#### **Consistencia**

#### **Puntualidad**

#### **Razonabilidad**

##### Variable de **COUNTRY/REGION**

In [30]:
# Numero esperado de localizaciones
paises_poblacion = len(poblacion['Country/Region'].unique())

# Obtener la cantidad de países únicos en la comlumna 'Country/Region' con respecto de la de poblacion
paises_covid = len(covid['Country/Region'].unique())

# Verificar si la cantidad de países únicos es menor que la esperada
if paises_covid < paises_poblacion:
    resultado = (paises_covid * 100) / paises_poblacion
    print(f'Porcentaje de RAZONABILIDAD de “Country/Region": {resultado: .2f}%')

else:
    print(f'Porcentaje de RAZONABILIDAD de "Country/Region" es del 100%')

Porcentaje de RAZONABILIDAD de “Country/Region":  89.47%

#### **Identificabilidad**

In [53]:
# Lista para almacenar los resultados
resultado_ide_covid = []

# Bucle para iterar sobre la base de datos
for columna in covid.columns:
    valores_unicos = len(covid[columna].unique()) # Número de valores unicos en la columna
    valores_totales = len(covid[columna]) # Longitud total de la columna
    porcentaje_ide = (valores_unicos/valores_totales) * 100 # Porcentaje de valores unicos

    # Guardar el nombre de la columna y su porcentaje de identificabilidad
    resultado_ide_covid.append({'Columna': columna, 'Porcentaje de IDENTIFICABILIDAD': round(porcentaje_ide,2)})

# Crear una base de datos para mostrar una tabla
tabla_identificabilidad_covid = pd.DataFrame(resultado_ide_covid)

# Imprimir la tabla
print(tabla_identificabilidad_covid)

          Columna  Porcentaje de IDENTIFICABILIDAD
0  Province/State                             0.16
1  Country/Region                             0.38
2             Lat                             0.53
3            Long                             0.53
4            Date                             0.38
5       Confirmed                            22.13
6          Deaths                             7.42
7       Recovered                            15.51
8          Active                            17.61
9      WHO Region                             0.01

In [48]:
# Lista para almacenar los resultados
resultado_ide_poblacion = []

# Bucle para iterar sobre la base de datos
for columna in poblacion.columns:
    valores_unicos = len(poblacion[columna].unique()) # Número de valores unicos en la columna
    valores_totales = len(poblacion[columna]) # Longitud total de la columna
    porcentaje_ide = (valores_unicos/valores_totales) * 100 # Porcentaje de valores unicos
   
    # Guardar el nombre de la columna y su porcentaje de identificabilidad
    resultado_ide_poblacion.append({'Columna': columna, 'Porcentaje de IDENTIFICABILIDAD': round(porcentaje_ide,2)})

# Crear una base de datos para mostrar una tabla
tabla_identificabilidad_poblacion = pd.DataFrame(resultado_ide_poblacion)

# Imprimir la tabla
print(tabla_identificabilidad_poblacion)

             Columna  Porcentaje de IDENTIFICABILIDAD
0     Country/Region                           100.00
1          Continent                             3.35
2         Population                           100.00
3         TotalCases                            98.56
4           NewCases                             2.39
5        TotalDeaths                            72.25
6          NewDeaths                             1.91
7     TotalRecovered                            96.65
8       NewRecovered                             1.91
9        ActiveCases                            86.60
10  Serious,Critical                            35.89
11  Tot Cases/1M pop                            97.13
12     Deaths/1M pop                            51.67
13        TotalTests                            91.39
14      Tests/1M pop                            91.39
15        WHO Region                             3.35

#### **Integridad**